.edit {
    color: #555;
    max-width: 480px;
    margin: 60px auto;
  }
  .edit label span {
    display: block;
    margin: 30px 0 10px;
  }
  .edit p {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .edit button {
    display: block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #002f6c;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }


  .edit textarea {
    min-height: 15rem;
    max-height: 25rem;
    max-width: 480px;
    min-width: 480px;
  }

  @media (max-width: 500px) {
    .edit {
      margin: 35px auto;
      max-width: 300px;
      font-size: 80%;
    }

    .edit textarea 
    {
      min-width: 300px;
      max-width: 300px;
      min-height: 7rem;
      max-height: 7rem;
      font-size: 80%;
    }

    .edit button {
      margin: 40px auto;
    }
  }