

.full-note-container {
    width: 27rem;
    height: 35rem;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 0.15rem solid;
    border-color: #002f6c ;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 2%;
    position: fixed;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.full-note-container h1 {
     text-align: center;
     margin-top: 1rem;
     overflow-wrap: break-word;
     font-size: 160%;
}


.full-note-container-body {
    height: 80%;
    background-color: #F8F8F8;
}

.full-note-container-title {
    background-color: #fff;
    padding: 16px 16px 32px 16px;
    border-bottom: 1px solid #dadce0;
}


.full-note-container-body p {
     margin: 0rem 2rem 0rem 2rem;
     padding-top: 2rem;
     overflow-wrap: break-word;
}


.full-note-container .btn {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: white;
    background-color: #002f6c;
    border: 0.0rem solid;
    border-radius: 0.8rem;
    padding: 0.8rem;
    cursor: pointer;
}


.full-note-container-body .description {
    max-height: 75%;
    min-height: 75%;
    overflow-y: auto;
}


@media (max-width: 500px) { 

    .full-note-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
    }
}